.button {
  width: 192px;
  height: 59px;
  color: #fff;
  border: none;
  border-radius: 79px;
  padding-top: 5px;
  line-height: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding-bottom: 5px;
  background: #ffc85e;
}
