.wrapper {
  position: relative;
  .search {
    //  @apply w-[39px] h-[39px] rounded-[50%] flex items-center justify-center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc85e;
    left: 210px;
    top: 10px;
    position: absolute;

    :hover {
      //   @apply cursor-pointer;
      cursor: pointer;
      opacity: 0.7;
      scale: 1.1;
    }
  }
}

.inputSearch {
  //   @apply w-[263px] h-[59px] rounded-[36px] p-[20px];
  width: 263px;
  height: 59px;
  border-radius: 36px;
  padding: 20px;
  background: #ededed;
}
