.wrap {
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 350px;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.header {
  text-decoration: none;
  color: rgb(43, 87, 198);
  font-weight: bold;
  font-size: 20px;
}

.headerContacts {
  font-size: 10px;
  display: flex;
  gap: 40px;

  span {
    width: 200px;
    text-align: start;
  }
}

.headerContacts_item {
  display: flex;
  gap: 16px;
}
.headerContacts_item:first-child {
  border-right: 1px dashed #e7e7e7;
}
